body {
    background-color: #b9f6bb;
    color: rgb(36, 32, 32);
    text-align: center;
    color: rgb(102, 100, 100);
    font-family:ink free;
    line-height: 15px;
    
}

button{
    justify-content: space-around;
    border: none;
    font-family:ink free;
    

}
#logo {
    width: 30%;
    border-radius: 65%;
}

button:hover {
    background-color: #5e9b84;
    
  }
