body {
    width: 320px;
    padding: 10px;
    border: 100px center gray;
    margin: auto;
    height: fit-content;

    background-color: #b9f6bb;
    text-align: center;
    color: rgb(102, 100, 100);
    font-family:ink free;
    line-height: 15px;
    box-sizing: border-box;
}


#form-cadastro{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 132px;
    height: 24px;
    align-items: center;
    padding: 16px 138px;
    
}

button{
    align-items:first baseline;
    border-radius: 30%;
    justify-content: space-between;
    border: none;
    font-family:ink free;  
    padding: 5px 5px;
    border: 1px solid #0f7b12;
    font-size: 20px;
    cursor: pointer;
  }

button:hover {
    background-color: #5e9b84;

}

input {
    appearance: none;
    -webkit-appearance:none;
  }

